<html>
	<head>
		<link rel= "stylesheet" type= "text/css" href= "styles.css">
		<title>Static Website</title>
		{{if .AppActive}}
		<link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
		<script defer src="https://pyscript.net/alpha/pyscript.js"></script>

		<style>
			.loading {
				display: inline-block;
				width: 50px;
				height: 50px;
				border: 3px solid rgba(255, 255, 255, 0.3);
				border-radius: 50%;
				border-top-color: black;
				animation: spin 1s ease-in-out infinite;
			}

			@keyframes spin {
				to {
					transform: rotate(360deg);
				}
			}
		</style>
		{{end}}
	</head>
	<header>
		<nav class="menu">
			<ol>
				<li class="menu-item">
					{{if .HomeActive}}
						<a href="ht" class="active">Home</a>
					{{else}}
						<a href="ht">Home</a>
					{{end}}
				</li>
				<li class="menu-item">
					{{if .DashActive}}
						<a href="dashboard" class="active">Dashboard</a>
					{{else}}
						<a href="dashboard">Dashboard</a>
					{{end}}
				</li>
				<li class="menu-item">
					{{if .AppActive}}
						<a href="app" class="active">App</a>
					{{else}}
						<a href="app">App</a>
					{{end}}
				</li>
				<li class="menu-item">	
					{{if .LoginActive}}
						<a href="login" class="active">Login</a>
					{{else}}
						<a href="login">Login</a>
					{{end}}
				</li>
			</ol>
		</nav>
	</header>
	<body>
		{{if .AppActive}}
		<h1 class="headersy">PyScript Example</h1>
		<p>{{.BodyParagraph}}</p>
		<br/>
		<p>This is the current date and time, as computed by Python:
		<py-script>
from datetime import datetime
now = datetime.now()
now.strftime("%m/%d/%Y, %H:%M:%S")
		</py-script>
		</p>
		<b>
			based on <i><a href="https://observablehq.com/@d3/learn-d3-shapes?collection=@d3/learn-d3>">learn d3: shapes</a></i> tutorial.
		</b>
		<div style="display: flex; flex-direction: row">
			<div>
				<div style="text-align: center">javascript version</div>
				<div id="js" style="width: 400px; height: 400px">
					<div class="loading"></div>
				</div>
			</div>
		</div>

		<script type="importmap">
		{
		"imports": {
			"d3": "https://cdn.skypack.dev/d3@7"
		}
		}
		</script>
		<script type="module">
import * as d3 from "https://cdn.skypack.dev/d3@7";

const fruits = [
  {name: "🍊", count: 21},
  {name: "🍇", count: 13},
  {name: "🍏", count: 8},
  {name: "🍌", count: 5},
  {name: "🍐", count: 3},
  {name: "🍋", count: 2},
  {name: "🍎", count: 1},
  {name: "🍉", count: 1},
]

const fn = (d) => d.count
const data = d3.pie().value(fn)(fruits)

const arc = d3.arc()
  .innerRadius(210)
  .outerRadius(310)
  .padRadius(300)
  .padAngle(2 / 300)
  .cornerRadius(8)

const js = d3.select("#js")
js.select(".loading").remove()

const svg = js
  .append("svg")
  .attr("viewBox", "-320 -320 640 640")
  .attr("width", "400")
  .attr("height", "400")

for (const d of data) {
  svg.append("path")
    .style("fill", "steelblue")
    .attr("d", arc(d))

  const text = svg.append("text")
    .style("fill", "white")
    .attr("transform", `translate(${arc.centroid(d).join(",")})`)
    .attr("text-anchor", "middle")

  text.append("tspan")
    .style("font-size", "24")
    .attr("x", "0").text(d.data.name)

  text.append("tspan")
    .style("font-size", "18")
    .attr("x", "0")
    .attr("dy", "1.3em")
    .text(d.value)
}
		</script>
		{{else}}
		<h1 class="headersy">Static Website</h1>
		<p>{{.BodyParagraph}}</p>
		{{end}}
	</body>
</html>
